// ----------------------------
// BUTTONS
// ----------------------------

button,
.button {
    min-height: 44px;
    padding: 8px 20px;
    background-color: @color__button--background;
    color: @color__button--text;
    font-family: @font__button--font-family;
    font-size: @font__button--font-size;
    font-weight: @font__button--font-weight;
    line-height: @font__button--line-height;
    letter-spacing: @font__button--letter-spacing;
    .border-radius(3px);
    &:hover {
        background-color: @color__button--background--hover;
        .transition(@duration:0.2s, @ease:ease-in-out);
    }
    @media @mobile {
        width: 100%;
        text-align: center;
    }
}

// Buttons in Forms

.signupform .form-body,// Signup
.blogsearch .form-body,// Blog
.ecomproductslist .fieldset--search .form-body .form-group:first-child { // Ecom Search
    button,
    .button {
        @media only screen and (min-width:480px) {
            padding: 0 12px;
        }
    }
}
