{% extends "layout.twig" %}

{% block content %}

<div class="template-homepage">

        {% include "includes/header.twig" %}

    <!-- Theme Feature Widget -->
    <div class="feature-container">
        {{widget('feature', 'featurehome', {
            "header": "profile",
            "defaultBgImg": asset('images/feature-bg.jpg'),
            'positionTopPercentage': '0',
            'showBtn': true,
            buttonText: "Lorem Ipsum"
        })|raw}}
    </div>

    <!-- Container -->
    <div class="container">

        <!-- Blog post list -->
        {{widget('blogpostlist', 'allblogposts', {})|raw}}

        <!-- Main Widget Zone -->
        {{zone('main')|raw}}


    </div>
    <!-- End Container -->

     {% include "includes/footer.twig" %}

</div>

{% endblock %}
