<!-- Header include -->
<header class="template-header">
    {{widget('extendednavigation', 'navigation', {"align":"center"})|raw}}
    <div class="brand">
        {{widget('logo', 'logo', {"defaultlogo": asset('images/logo-default.png'), "showTplWidget":"0"})|raw}}
        {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
    </div>
    {% if plugins.blog.live %}
    <div class="header-blog-search">
        {{widget('blogsearch', 'blogsearch', {})|raw}}
        <div class="header-search-icon">icon</div>
    </div>
    {% endif %}
</header>

